<nav>
    <div class="logo">logo</div>
    <div class="navlinks">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">FAQs</a>
    </div>
</nav>